<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<br>

<div class="container" style="margin-top:60px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">ORDER SUMMARY</h1><br>
          <font class="lead">Customer Name: {{receipt.issuedTo}}</font>
          <span><font class="lead" style="float:right;">
             Date : {{receipt.saleDate|date:"d/m/Y D" }}
          </font></span>
            <br><font class="lead">
                {% for p in patients %}
                  {% if receipt.patientId == p.id %}
                    Phone No. : {{p.patientMobile}}
                  {% endif %}
                {% endfor %}
            </font>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <td><strong>Item Name</strong></td>
                  <td class="text-xs-center"><strong>Item Quantity</strong></td>
                  <td class="text-xs-right"><strong>Total Bill Amount (Rs)</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{receipt.itemName}}</td>
                  <td class="text-xs-center">{{receipt.quantity }}</td>
                  <td class="text-xs-center">Rs {{receipt.totalPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="/admin-pharmacy" style="align:bottom; position: fixed;
  bottom: 23px;
  left: 28px;"><button class="btn">Go Back</button></a>
</body>
</html>